{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'veiculos/css/veiculos.css' %}">
{% endblock %}

{% block 'dashboard' %}
<div class="container">
    <div class="row">

        <div onclick="exibir_form('1')" class="col-md card-dashboard">
            <p class="text-card">Adicionar veículo</p>
        </div>

        <div onclick="exibir_form('2')" class="col-md card-dashboard">
            <p class="text-card">Atualizar veículo</p>
        </div>

    </div>

    <div id="adicionar-veiculo" class="adicionar-veiculo">
        <form action="{% url 'veiculos' %}" method="POST">{% csrf_token %}
                
            <br>
            <p>Modelo de equipamento:</p>
            <input type="text" class="form-control" placeholder="Modelo Equipamento" name="modelo">
            <br>
            <p>TAG DO EQUIPAMENTO:</p>
            <input type="text" class="form-control" placeholder="TAG Equipamento" name="tag">
            <br>
            <p>PLACA:</p>
            <input type="text" class="form-control" placeholder="___-___" name="placa">
            <br>
            <p>NÚMERO DE SÉRIE:</p>
            <input type="text" class="form-control" placeholder="Número de Série" name="nSerie" >
            <hr style="background-color:gray;">
            <br>
            <input type="submit" value="Cadastrar" class="btn-principal">
  
        </form>
        
    </div>

    <div id="att_veiculo">
        <p></p>
        <select id="veiculo-select"  onchange="dados_veiculo()" class="form-control">
            {% for veiculo in veiculos %}
            <option value="{{veiculo.id}}">{{veiculo.modelo}}</option>
            {% endfor %}
        </select>
        <br>
        <hr>

        <div id="form-att-veiculo">
            <input type="hidden" id="id">
            <p>Modelo de equipamento:</p>
            <input id="modelo" type="text" class='form-control'>
            <p>TAG DO EQUIPAMENTO:</p>
            <input id="tag" type="text" class='form-control'>
            <p>PLACA:</p>
            <input id="placa" type="text" class='form-control'>
            <p>NÚMERO DE SÉRIE:</p>
            <input id="nSerie" type="text" class='form-control'>
            <br>
            <input onclick="update_veiculo()"  type="submit" value="salvar" class="btn btn-success" > 
            <hr style="background-color: gray;">
        </div>
        
    </div>



</div>

<script src="{% static 'veiculos/js/veiculos.js' %}"></script>
{% endblock %}